In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

In [3]:
from src.data import data_collection

In [8]:
import psycopg2
import pandas as pd

In [9]:
DBNAME = "opportunity_youth"

In [10]:
conn = psycopg2.connect(dbname=DBNAME)

## OY IN PUMA

In [21]:
oy_df_per_puma = pd.read_sql("""
            SELECT puma, SUM(PWGTP) AS oy_in_puma
            FROM pums_2017
            WHERE esr!='1' AND esr!='4'
            AND sch='1'
            AND agep BETWEEN 16 AND 24
            AND puma IN ('11610','11611', '11612', '11613', '11614', '11615')
            GROUP BY puma
            ;
            """, conn)
oy_df_per_puma

    puma  oy_in_puma
0  11610      1870.0
1  11611      2110.0
2  11612      2125.0
3  11613      2133.0
4  11614      1631.0
5  11615      1246.0

In [39]:
not_oy_df = pd.read_sql("""
            SELECT *
            FROM pums_2017
            WHERE esr='1' OR esr='4'
            AND agep BETWEEN 16 AND 24
            AND schl IN ('01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15')
            AND puma IN ('11610','11611', '11612', '11613', '11614', '11615')
            LIMIT 10
            ;
            """, conn)
not_oy_df

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp71,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80
0,P,2013000000038,9,01,11505,4,53,1061971,4.0,52.0,...,4.0,1.0,2.0,8.0,8.0,1.0,4.0,6.0,1.0,4.0
1,P,2013000000038,9,02,11505,4,53,1061971,4.0,51.0,...,4.0,1.0,1.0,8.0,7.0,1.0,4.0,7.0,2.0,4.0
2,P,2013000000070,9,01,10400,4,53,1061971,15.0,59.0,...,26.0,14.0,14.0,26.0,15.0,16.0,33.0,16.0,15.0,15.0
3,P,2013000000070,9,02,10400,4,53,1061971,18.0,56.0,...,27.0,15.0,16.0,30.0,14.0,18.0,38.0,17.0,17.0,14.0
4,P,2013000000082,9,01,11615,4,53,1061971,90.0,40.0,...,119.0,152.0,33.0,30.0,100.0,77.0,115.0,85.0,114.0,29.0
5,P,2013000000082,9,04,11615,4,53,1061971,109.0,48.0,...,127.0,177.0,46.0,37.0,110.0,123.0,135.0,95.0,132.0,41.0
6,P,2013000000082,9,05,11615,4,53,1061971,108.0,48.0,...,127.0,176.0,47.0,37.0,110.0,123.0,135.0,96.0,133.0,41.0
7,P,2013000000117,9,01,10300,4,53,1061971,6.0,43.0,...,6.0,2.0,7.0,12.0,6.0,3.0,2.0,6.0,7.0,8.0
8,P,2013000000181,9,01,11801,4,53,1061971,11.0,40.0,...,10.0,13.0,18.0,11.0,11.0,21.0,12.0,11.0,11.0,12.0
9,P,2013000000191,9,02,11507,4,53,1061971,24.0,40.0,...,23.0,44.0,6.0,24.0,24.0,26.0,7.0,29.0,38.0,42.0