In [1]:
!which python

/Users/sam/opt/anaconda3/envs/oy-env/bin/python

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

In [4]:
from src.data import data_collection

In [5]:
# data_collection.download_data_and_load_into_sql()

In [6]:
import psycopg2
import pandas as pd
import numpy as np

In [7]:
DBNAME = "opportunity_youth"

In [8]:
conn = psycopg2.connect(dbname=DBNAME)

In [9]:
oy_by_education = pd.read_csv('oy_by_education.csv')
oy_by_education.columns = ['unnamed: 0', 
                        'group', 
                        '16_18_%', 
                        '16_18_values', 
                        '19_21_%', 
                        '19_21_values', 
                        '22_24_%', 
                        '22_24_values', 
                        'totals_%', 
                        'totals_values']
oy_by_education

,unnamed: 0,group,16_18_%,16_18_values,19_21_%,19_21_values,22_24_%,22_24_values,totals_%,totals_values
0,0,Opportunity Youth,100,1815.0,100,4083.0,100,5217.0,100,11115.0
1,1,No Diploma,50,916.0,28,1135.0,27,1391.0,31,3442.0
2,2,HS or GED,43,781.0,53,2183.0,45,2325.0,48,5289.0
3,3,"Some College, No Degree",7,118.0,16,649.0,21,1074.0,17,1841.0
4,4,College Degree (associates+),0,0.0,3,116.0,8,427.0,5,543.0

In [10]:
fig, ax = plt.subplots(1,3,figsize=(18,6))

education_palette = {'No Diploma': '#FF7764', 'HS or GED': '#ADD3FF', 'Some College, No Degree': '#C27AEB', 'College Degree (associates+)': '#EBCB8A'}

sns.barplot(data=oy_by_education[1:], x='group', y='16_18_values', hue='group', ax=ax[0], palette=education_palette)
sns.barplot(data=oy_by_education[1:], x='group', y='19_21_values', hue='group', ax=ax[1], palette=education_palette)
sns.barplot(data=oy_by_education[1:], x='group', y='22_24_values', hue='group', ax=ax[2], palette=education_palette)
ax[0].set_ylim(0, 3000)
ax[1].set_ylim(0, 3000)
ax[2].set_ylim(0, 3000)
ax[0].get_xaxis().set_visible(False)
ax[1].get_xaxis().set_visible(False)
ax[2].get_xaxis().set_visible(False)
pass

NameError: name 'plt' is not defined

### income by district

In [11]:
oy_df = pd.read_csv('oy_df.csv')
ay_df = pd.read_csv('ay_df.csv')
oy_11610 = oy_df.loc[oy_df['puma'].isin(['11610'])]
oy_11611 = oy_df.loc[oy_df['puma'].isin(['11611'])]
oy_11612 = oy_df.loc[oy_df['puma'].isin(['11612'])]
oy_11613 = oy_df.loc[oy_df['puma'].isin(['11613'])]
oy_11614 = oy_df.loc[oy_df['puma'].isin(['11614'])]
oy_11615 = oy_df.loc[oy_df['puma'].isin(['11615'])]
ay_11610 = ay_df.loc[ay_df['puma'].isin(['11610'])]
ay_11611 = ay_df.loc[ay_df['puma'].isin(['11611'])]
ay_11612 = ay_df.loc[ay_df['puma'].isin(['11612'])]
ay_11613 = ay_df.loc[ay_df['puma'].isin(['11613'])]
ay_11614 = ay_df.loc[ay_df['puma'].isin(['11614'])]
ay_11615 = ay_df.loc[ay_df['puma'].isin(['11615'])]
oy_11610

,Unnamed: 0,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,...,pwgtp71,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80
1,1,P,2013000111689,9,5,11610,4,53,1061971,40.0,...,61.0,12.0,51.0,12.0,13.0,41.0,37.0,52.0,32.0,36.0
6,6,P,2013000166503,9,3,11610,4,53,1061971,41.0,...,54.0,72.0,37.0,58.0,11.0,11.0,37.0,48.0,45.0,71.0
22,22,P,2013000413288,9,3,11610,4,53,1061971,38.0,...,33.0,59.0,55.0,9.0,33.0,27.0,63.0,31.0,63.0,38.0
27,27,P,2013000431365,9,3,11610,4,53,1061971,18.0,...,8.0,37.0,5.0,17.0,25.0,25.0,38.0,21.0,4.0,6.0
31,31,P,2013000550228,9,1,11610,4,53,1061971,51.0,...,15.0,51.0,82.0,13.0,17.0,80.0,58.0,44.0,82.0,84.0
32,32,P,2013000550228,9,2,11610,4,53,1061971,59.0,...,19.0,59.0,85.0,15.0,19.0,85.0,63.0,50.0,95.0,96.0
33,33,P,2013000550228,9,3,11610,4,53,1061971,58.0,...,19.0,59.0,84.0,14.0,20.0,85.0,63.0,49.0,94.0,97.0
34,34,P,2013000550228,9,4,11610,4,53,1061971,72.0,...,26.0,75.0,85.0,27.0,22.0,96.0,88.0,77.0,123.0,136.0
35,35,P,2013000558644,9,1,11610,4,53,1061971,47.0,...,15.0,44.0,13.0,42.0,69.0,47.0,78.0,16.0,48.0,81.0
43,43,P,2013000697580,9,2,11610,4,53,1061971,13.0,...,4.0,13.0,21.0,3.0,23.0,14.0,14.0,13.0,13.0,18.0
47,47,P,2013000745367,9,3,11610,4,53,1061971,7.0,...,3.0,13.0,16.0,8.0,9.0,1.0,2.0,9.0,6.0,2.0
64,64,P,2013001074807,9,3,11610,4,53,1061971,17.0,...,6.0,31.0,16.0,27.0,15.0,5.0,16.0,6.0,31.0,4.0
66,66,P,2013001103945,9,6,11610,4,53,1061971,27.0,...,7.0,27.0,23.0,29.0,44.0,24.0,11.0,29.0,8.0,28.0
68,68,P,2013001132107,9,2,11610,4,53,1061971,20.0,...,39.0,25.0,6.0,25.0,21.0,6.0,17.0,6.0,19.0,5.0
98,98,P,2014000034248,9,2,11610,4,53,1045195,21.0,...,6.0,15.0,27.0,6.0,37.0,19.0,32.0,39.0,21.0,19.0
131,131,P,2014000712846,9,2,11610,4,53,1045195,45.0,...,37.0,52.0,14.0,47.0,54.0,12.0,15.0,16.0,17.0,36.0
137,137,P,2014000753355,9,3,11610,4,53,1045195,22.0,...,32.0,24.0,39.0,6.0,22.0,24.0,25.0,8.0,25.0,8.0
142,142,P,2014000964654,9,3,11610,4,53,1045195,12.0,...,10.0,25.0,4.0,4.0,12.0,13.0,23.0,14.0,14.0,15.0
143,143,P,2014001019524,9,2,11610,4,53,1045195,15.0,...,16.0,12.0,18.0,30.0,16.0,4.0,23.0,16.0,26.0,25.0
151,151,P,2014001074786,9,2,11610,4,53,1045195,99.0,...,40.0,29.0,129.0,102.0,111.0,74.0,134.0,39.0,73.0,36.0
164,164,P,2014001317496,9,3,11610,4,53,1045195,22.0,...,30.0,26.0,23.0,35.0,22.0,7.0,7.0,8.0,25.0,8.0
168,168,P,2014001349122,9,3,11610,4,53,1045195,29.0,...,28.0,28.0,12.0,37.0,27.0,76.0,49.0,43.0,44.0,27.0
184,184,P,2015000016530,9,1,11610,4,53,1035988,45.0,...,47.0,48.0,42.0,44.0,88.0,71.0,88.0,37.0,13.0,56.0
195,195,P,2015000422539,9,3,11610,4,53,1035988,17.0,...,37.0,27.0,19.0,18.0,21.0,25.0,15.0,31.0,18.0,15.0
200,200,P,2015000469647,9,2,11610,4,53,1035988,25.0,...,37.0,39.0,37.0,18.0,59.0,22.0,18.0,44.0,31.0,25.0
221,221,P,2015000795797,9,1,11610,4,53,1035988,70.0,...,61.0,86.0,104.0,61.0,75.0,153.0,137.0,110.0,117.0,72.0
222,222,P,2015000801810,9,4,11610,4,53,1035988,22.0,...,7.0,6.0,18.0,19.0,25.0,6.0,41.0,5.0,21.0,31.0
237,237,P,2015001225136,9,3,11610,4,53,1035988,27.0,...,37.0,13.0,31.0,9.0,35.0,24.0,7.0,30.0,47.0,25.0
238,238,P,2015001168092,9,3,11610,4,53,1035988,44.0,...,16.0,21.0,49.0,79.0,16.0,38.0,41.0,46.0,46.0,40.0
239,239,P,2015001168092,9,7,11610,4,53,1035988,65.0,...,18.0,23.0,61.0,106.0,23.0,60.0,59.0,63.0,73.0,56.0
246,246,P,2015001272145,9,3,11610,4,53,1035988,55.0,...,15.0,23.0,58.0,48.0,47.0,41.0,82.0,12.0,62.0,17.0
252,252,P,2015001375172,9,4,11610,4,53,1035988,11.0,...,14.0,9.0,12.0,23.0,11.0,4.0,11.0,4.0,3.0,10.0
282,282,P,2016000557517,9,4,11610,4,53,1029257,21.0,...,22.0,22.0,18.0,5.0,43.0,31.0,38.0,26.0,5.0,19.0
286,286,P,2016000697410,9,3,11610,4,53,1029257,21.0,...,27.0,23.0,5.0,18.0,19.0,36.0,33.0,6.0,7.0,6.0
294,294,P,2016000784805,9,3,11610,4,53,1029257,12.0,...,26.0,5.0,16.0,15.0,3.0,11.0,10.0,4.0,13.0,11.0
298,298,P,2016000955693,9,3,11610,4,53,1029257,25.0,...,27.0,32.0,8.0,30.0,25.0,28.0,23.0,40.0,40.0,23.0
300,300,P,2016001052457,9,2,11610,4,53,1029257,28.0,...,24.0,8.0,24.0,29.0,48.0,44.0,10.0,9.0,48.0,47.0
304,304,P,2016001082259,9,3,11610,4,53,1029257,68.0,...,25.0,20.0,107.0,59.0,60.0,19.0,110.0,66.0,71.0,108.0
316,316,P,2016001292070,9,5,11610,4,53,1029257,59.0,...,94.0,71.0,57.0,16.0,62.0,19.0,20.0,96.0,109.0,68.0
330,330,P,2017000066906,9,3,11610,4,53,1011189,55.0,...,16.0,59.0,73.0,48.0,100.0,83.0,20.0,40.0,15.0,47.0
335,335,P,2017000148009,9,4,11610,4,53,1011189,7.0,...,3.0,3.0,10.0,8.0,8.0,7.0,16.0,2.0,6.0,3.0
346,346,P,2017000407899,9,2,11610,4,53,1011189,19.0,...,20.0,5.0,20.0,5.0,16.0,15.0,15.0,22.0,7.0,27.0
350,350,P,2017000473358,9,3,11610,4,53,1011189,8.0,...,9.0,3.0,10.0,13.0,18.0,8.0,3.0,10.0,7.0,6.0
351,351,P,2017000490946,9,1,11610,4,53,1011189,44.0,...,56.0,13.0,17.0,10.0,35.0,50.0,39.0,42.0,44.0,13.0
357,357,P,2017000611914,9,4,11610,4,53,1011189,35.0,...,50.0,38.0,9.0,33.0,58.0,58.0,34.0,38.0,77.0,31.0
364,364,P,2017000811896,9,1,11610,4,53,1011189,53.0,...,21.0,103.0,78.0,37.0,42.0,98.0,47.0,48.0,53.0,101.0
366,366,P,2017000787533,9,4,11610,4,53,1011189,50.0,...,16.0,15.0,78.0,48.0,13.0,78.0,77.0,58.0,53.0,47.0
370,370,P,2017000811896,9,3,11610,4,53,1011189,130.0,...,38.0,232.0,171.0,86.0,140.0,166.0,94.0,166.0,118.0,210.0
376,376,P,2017000918811,9,2,11610,4,53,1011189,48.0,...,102.0,14.0,19.0,63.0,41.0,45.0,64.0,55.0,91.0,74.0
396,396,P,2017001373291,9,2,11610,4,53,1011189,14.0,...,15.0,21.0,32.0,14.0,16.0,12.0,4.0,19.0,17.0,4.0
403,403,P,2013000059060,9,2,11610,4,53,1061971,19.0,...,7.0,20.0,16.0,5.0,21.0,5.0,20.0,15.0,17.0,5.0

In [ ]:
oy_rate_11610 = oy_11610['pwgtp'].sum()/ay_11610['pwgtp'].sum()
oy_rate_11611 = oy_11611['pwgtp'].sum()/ay_11611['pwgtp'].sum()
oy_rate_11612 = oy_11612['pwgtp'].sum()/ay_11612['pwgtp'].sum()
oy_rate_11613 = oy_11613['pwgtp'].sum()/ay_11613['pwgtp'].sum()
oy_rate_11614 = oy_11614['pwgtp'].sum()/ay_11614['pwgtp'].sum()
oy_rate_11615 = oy_11615['pwgtp'].sum()/ay_11615['pwgtp'].sum()
oy_rate_by_puma_list = [oy_rate_11610, oy_rate_11611, oy_rate_11612, oy_rate_11613, oy_rate_11614, oy_rate_11615]

In [ ]:
pincp_sums_df = pd.read_sql("""
                    SELECT pn.puma_name, puma, count(puma), sum(pincp) as sum_of_pincp_w_in_puma
                    FROM pums_2017 AS p 
                    INNER JOIN puma_names_2010 AS pn
                    USING(puma)
                    WHERE puma IN ('11610', '11611', '11612', '11613', '11614', '11615')
                    AND agep >= 16
                    GROUP BY puma, puma_name
                """, conn)
pincp_sums_df

In [ ]:
pincp_sums_df['avg_pincp_for_puma'] = round(pincp_sums_df['sum_of_pincp_w_in_puma']/pincp_sums_df['count'], 2)
pincp_sums_df['OY_prevelance_in_puma'] = oy_rate_by_puma_list


pincp_sums_df.sort_values('avg_pincp_for_puma')

### opportunity youth work/diploma status by age

In [ ]:
pd.read_csv('oy_by_age.csv').columns

In [ ]:
oy_by_age_df = pd.read_csv('oy_by_age.csv')
oy_by_age_df.columns = ['unnamed: 0', 
                        'group', 
                        '16_18_%', 
                        '16_18_values', 
                        '19_21_%', 
                        '19_21_values', 
                        '22_24_%', 
                        '22_24_values', 
                        'totals_%', 
                        'totals_values']
oy_by_age_df

In [ ]:
oy_by_age_df['16_18_%'].dtype

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# create subplot figure
fig, axs = plt.subplots(1,3,figsize=(18,6))

# plot 16-18 yr olds
sns.barplot(data = oy_by_age_df, x = 'group', y='16_18_values', ax = axs[0])
axs[0].set(ylabel='Pop. by Class for 16-18 yrs.', xlabel='Classification')
axs[0].set_xticklabels(oy_by_age_df['group'], rotation = 45)

# plot 19-21 yr olds
sns.barplot(data = oy_by_age_df, x = 'group', y='19_21_values', ax = axs[1])
axs[1].set(ylabel='Pop. by Class for 19-21 yrs.', xlabel='Classification')
axs[1].set_xticklabels(oy_by_age_df['group'], rotation = 45)

# plot 22-24 yr olds
sns.barplot(data = oy_by_age_df, x = 'group', y='22_24_values', ax = axs[2])
axs[2].set(ylabel='Pop. by Class for 22-24 yrs.', xlabel='Classification')
axs[2].set_xticklabels(oy_by_age_df['group'], rotation = 45)

# add pop. values to tops of bars
for p in axs[0].patches:
    axs[0].annotate("%.2f" % p.get_height(), (p.get_x() + p.get_width() / 2., p.get_height()),
        ha='center', va='center', fontsize=11, color='gray', xytext=(0, 20),
        textcoords='offset points')
for p in axs[1].patches:
    axs[1].annotate("%.2f" % p.get_height(), (p.get_x() + p.get_width() / 2., p.get_height()),
        ha='center', va='center', fontsize=11, color='gray', xytext=(0, 20),
        textcoords='offset points')
for p in axs[2].patches:
    axs[2].annotate("%.2f" % p.get_height(), (p.get_x() + p.get_width() / 2., p.get_height()),
        ha='center', va='center', fontsize=11, color='gray', xytext=(0, 20),
        textcoords='offset points')

## total youth in SKC

In [ ]:
youth_df = pd.read_sql("""
            SELECT * FROM pums_2017 
            WHERE puma in ('11610', '11611', '11612', '11613', '11614', '11615')
            AND agep BETWEEN 16 AND 24
            """, conn)
youth_df['pwgtp'].sum()

## OY employment breakdown

In [ ]:
# len(pd.read_sql("""select * from pums_2017""", conn))

In [ ]:
pd.read_sql("""
            SELECT cow, COUNT(cow)
            FROM pums_2017
            WHERE agep BETWEEN 16 AND 24
            AND puma in ('11610','11611', '11612', '11613', '11614', '11615')
            GROUP BY cow
            ;
            """, conn)

## OY DataFrame

In [ ]:
oy_df = pd.read_sql("""
            SELECT *
            FROM pums_2017
            WHERE esr!='1' AND esr!='4'
            AND sch='1'
            AND agep BETWEEN 16 AND 24
            AND puma IN ('11610','11611', '11612', '11613', '11614', '11615')
            ;
            """, conn)

## OY without diploma

In [ ]:
oy_df.loc[oy_df['schl'].isin(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15' ])]

## OY with diploma or GED

In [ ]:
oy_df.loc[oy_df['schl'].isin(['16', '17'])]

## OY some college no degree

In [ ]:
oy_df.loc[oy_df['schl'].isin(['18', '19'])]

## OY with degree

In [ ]:
oy_df.loc[oy_df['schl'].isin(['20', '21', '22', '23', '24'])]

## OY breakdown by race

In [ ]:
pd.read_sql("""
            SELECT rac1p, count(rac1p) FROM pums_2017 
            WHERE puma in ('11610', '11611', '11612', '11613', '11614', '11615')
            AND agep BETWEEN 16 AND 24
            AND sch='1'
            AND esr!='1' AND esr!='4'
            GROUP BY rac1p
            """, conn)

In [ ]:
print('number of oportunity youth (with weight applied): ' + str(oy_df['pwgtp'].sum()))

In [ ]:
oy_df.groupby('agep').sum()['pwgtp']

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

## visualization of OY by age in SKC

In [ ]:
oy_df.head()

In [ ]:
fig, ax = plt.subplots()
oy_by_age_values = list(oy_df.groupby('agep').sum()['pwgtp'])
ax.bar(list(oy_df.groupby('agep').sum()['pwgtp'].keys()), oy_by_age_values)
plt.show()

### breakdown of OY per age group (16-18, 19-21, 22-24)

In [ ]:
counter = 0
current_val = 0
oy_by_age_group = []
for value in oy_by_age_values:
    counter += 1
    current_val += value
    if counter == 3:
        counter = 0
        oy_by_age_group.append(current_val)
        current_val = 0
oy_age_group_df = pd.DataFrame(oy_by_age_group)
oy_age_group_df.index = ['16-18', '19-21', '22-24']
oy_age_group_df.columns = ['unwieghted_number_of_oy_per_age_group']
oy_age_group_df

## visualization of youth (not oy specific) by age in SKC

In [ ]:
youth_df.groupby('agep').sum()['pwgtp']

In [ ]:
list(youth_df.groupby('agep').sum()['pwgtp'])

In [ ]:
list(youth_df.groupby('agep').sum()['pwgtp'].keys())

In [ ]:
fig, ax = plt.subplots()
youth_by_age_values = list(youth_df.groupby('agep').sum()['pwgtp'])
ax.bar(list(youth_df.groupby('agep').sum()['pwgtp'].keys()), youth_by_age_values)
plt.show()

### breakdown of ALL YOUTH per age group (16-18, 19-21, 22-24)

In [ ]:
counter = 0
current_val = 0
total_youth_by_age_group = []
for value in youth_by_age_values:
    counter += 1
    current_val += value
    if counter == 3:
        counter = 0
        total_youth_by_age_group.append(current_val)
        current_val = 0
total_youth_by_age_group

## percentage of OY out of youth per age group (16-18, 19-21, 22-24)

In [ ]:
oy_percentage_of_age_pop = [int(o) / int(y) for o,y in zip(oy_by_age_group, total_youth_by_age_group)]
oy_percentage_of_age_pop

plt.bar(['16-18', '19-21', '22-24'], oy_percentage_of_age_pop)

In [ ]:
import matplotlib.patches as mpatches

In [ ]:
# age_list = list(range(len(age_groups)))
age_list =[1,2,3]
fig, ax = plt.subplots(figsize=(15,6))
x = [1,2,3]
x_minus = [0.75, 1.75, 2.75]
x_plus = [1.25, 2.25, 3.25]
age_groups = ['16-18', '19-21', '22-24']
plt.bar(x_minus, oy_by_age_group, width=0.5, color='orange')
plt.bar(x_plus, np.subtract(total_youth_by_age_group,oy_by_age_group), width=0.5, color='b')
# plt.legend((line1, line2, line3), ('label1', 'label2', 'label3'))
ax.set_xticks(x)
ax.set_xticklabels(age_groups)
ax.set_xlabel('Age Groups')
ax.set_ylabel('Total Pop.')
ax.set_title('Population of Opporunity Youth vs Youth in School/Working')
orange_patch = mpatches.Patch(color='orange', label='Opportunity Youth')
blue_patch = mpatches.Patch(color='blue', label='Total Youth')
plt.legend(handles=[orange_patch, blue_patch])
plt.show()

In [ ]:
oy_df_by_age_group = pd.DataFrame(oy_by_age_group, age_groups).reset_index()
oy_df_by_age_group.columns = ['age_groups', 'count']
# print(oy_df_by_age_group)

total_youth_by_age_group_df = pd.DataFrame(np.subtract(total_youth_by_age_group,oy_by_age_group), age_groups).reset_index()
total_youth_by_age_group_df.columns = ['age_groups', 'count']
total_youth_by_age_group_df
# oy_df_by_age_group.to_csv('./age_data.csv')
# pd.read_csv('age_data.csv')

In [ ]:
sns.set_style("darkgrid")
fig, axes = plt.subplots(1, 3, figsize=(20,6))
axes[0].set_ylim(0,30000)
axes[1].set_ylim(0,30000)
axes[2].set_ylim(0,50)
sns.barplot(data = oy_df_by_age_group, 
            y = oy_df_by_age_group['count'], 
            x = oy_df_by_age_group['age_groups'], 
            ax = axes[0]).set_title('Number of Opportunity Youth by Age in South King County', fontsize=15)
sns.barplot(data = total_youth_by_age_group_df, 
            y = total_youth_by_age_group_df['count'], 
            x = total_youth_by_age_group_df['age_groups'], 
            ax = axes[1]).set_title('Number of Non-Opportunity Youth by Age in South King County', fontsize=15)
sns.barplot(y = [x*100 for x in oy_percentage_of_age_pop], 
            x = total_youth_by_age_group_df['age_groups'],
            ax = axes[2]).set_title('Opportunity Youth Percent of Pop. by Age', fontsize=15)
axes[2].set_ylabel('percent of total age group')
plt.subplots_adjust(wspace = 0.6)

## OY by Race

In [ ]:
!ls

In [ ]:
racial_df = pd.read_csv('racial_data.csv')
racial_df.columns = ['unnamed', 'race',  'rate_of_oy', 'total_youth_pop',  'proportion_of_oy', 'oy_total']
racial_df

In [ ]:
fig, ax = plt.subplots(1,2,figsize=(15,6))
race_palette = {'White':'#87FFF6', 'Hispanic':'#A6E87B', 'African American':'#FFE294', 'Asian':'#E88D7B', 'Two or More Races':'#DD9EFF', 'Other Race':'#A187FF', 'Native American or Alaska Native':'#7BE8A3', 'Pacific Islander':'#EB6ACC'}

sns.barplot(data=racial_df.sort_values('rate_of_oy', ascending=False), x='race', y='rate_of_oy', hue='race', ax=ax[0], palette=race_palette)
ax[0].set_xticklabels(labels=racial_df.sort_values('rate_of_oy', ascending=False)['race'], rotation=90, ha='left')
ax[0].set_title('Prevelance of OY Within Race')
racial_df_sort_prop_oy = racial_df.sort_values('proportion_of_oy', ascending=False)
sns.barplot(data=racial_df_sort_prop_oy, x='race', y='proportion_of_oy', hue='race', ax=ax[1], palette=race_palette)
ax[1].set_xticklabels(labels=racial_df_sort_prop_oy['race'], rotation=90, ha='left')
ax[1].set_title('Who Makes Up OY in SKC')

## OY in 2016 vs. Now

In [ ]:
plt.bar(['2016', '2020'], [18817, 11115])
plt.title('Number of OY in SKC 2016 vs. 2020')

In [ ]:
!ls

In [ ]:
import sqlite3
cur = sqlite3.connect('opportunity_youth.sqlite').cursor()

In [ ]:
cur.execute("""
SELECT name FROM sqlite_master WHERE type='table'
""").fetchall()

In [ ]:
pd.read_sql("""
            SELECT puma, fincp, adjinc
            FROM pums_2017
            WHERE puma in ('11610', '11611', '11612', '11613', '11614', '11615')
            LIMIT 10
            """, conn)

In [ ]:
# conn.close()