In [83]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [84]:
import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)
    
import psycopg2
import pandas as pd

import numpy as np

In [85]:
DBNAME = "opportunity_youth"

conn = psycopg2.connect(dbname=DBNAME)
cur = conn.cursor()

df = pd.read_sql("SELECT COUNT(*) FROM pums_2017;", conn)
df

    count
0  359075

In [86]:
### pull in ay_df schema data frames from csv files, remove additional index column
ay_df = pd.read_csv('ay_df.csv')
ay_df = ay_df.drop(['Unnamed: 0'], axis=1)

ay_df_16_18 = pd.read_csv('ay_df_16_18.csv')
ay_df_16_18 = ay_df_16_18.drop(['Unnamed: 0'], axis=1)

ay_df_19_21 = pd.read_csv('ay_df_19_21.csv')
ay_df_19_21 = ay_df_19_21.drop(['Unnamed: 0'], axis=1)

ay_df_22_24 = pd.read_csv('ay_df_22_24.csv')
ay_df_22_24 = ay_df_22_24.drop(['Unnamed: 0'], axis=1)

In [87]:
#pull in oy_schema data frames from csv files, remove additional index column
oy_df = pd.read_csv('oy_df.csv')
oy_df = oy_df.drop(['Unnamed: 0'], axis=1)

oy_df_16_18 = pd.read_csv('oy_df_16_18.csv')
oy_df_16_18 = oy_df_16_18.drop(['Unnamed: 0'], axis=1)

oy_df_19_21 = pd.read_csv('oy_df_19_21.csv')
oy_df_19_21 = oy_df_19_21.drop(['Unnamed: 0'], axis=1)

oy_df_22_24 = pd.read_csv('oy_df_22_24.csv')
oy_df_22_24 = oy_df_22_24.drop(['Unnamed: 0'], axis=1)

In [88]:
#pull in ry_schema data frames from csv files, remove additional index column
ry_df = pd.read_csv('ry_df.csv')
ry_df = ry_df.drop(['Unnamed: 0'], axis=1)

ry_df_16_18 = pd.read_csv('ry_df_16_18.csv')
ry_df_16_18 = ry_df_16_18.drop(['Unnamed: 0'], axis=1)

ry_df_19_21 = pd.read_csv('ry_df_19_21.csv')
ry_df_19_21 = ry_df_19_21.drop(['Unnamed: 0'], axis=1)

ry_df_22_24 = pd.read_csv('ry_df_22_24.csv')
ry_df_22_24 = ry_df_22_24.drop(['Unnamed: 0'], axis=1)

## For Wed -- tertiary DF creation (employed_wo_diploma)

account for Working people without diplomas

pull from 'ay' sub age groups & condition for Working=Yes, and SCHL =! (16, 17, 18, 19, 20, 21, 22, 23, 24)

be sure to subtract this new DF from the dfa sum in the 'not_oy' function (otherwise these people will be counted twice in the total)

In [89]:
def sum_plz(df):
    if type(df) == pd.core.frame.DataFrame:
        return sum(df['pwgtp'])
    else:
        return df

In [90]:
sum_plz(ay_df)

85883.0

In [91]:
def ratio_plz(df1, df2):
    return round(
                (sum_plz(df1) / sum_plz(df2)) * 100
                )

In [92]:
ratio_plz(oy_df, ay_df)

13

In [93]:
type(ay_df) == pd.core.frame.DataFrame

True

In [94]:
def not_oy(dfa, dfo, dfr):
    return int(sum_plz(dfa) - sum_plz(dfo) - sum_plz(dfr))

In [95]:
ratio_plz(not_oy(ay_df_16_18, oy_df_16_18, ry_df_16_18), ay_df_16_18)

92

In [96]:
oy_by_age = pd.DataFrame()

In [97]:
## creating datafram mimicing Opportunity Youth Status by Age from previous study
oy_by_age[' '] = [
    'Total Population',
    'Opportunity Youth',
    'Working Without Diploma',
    'Not an Opportunity Youth'
]

oy_by_age['16-18 (%)'] = [
    ratio_plz(ay_df_16_18, ay_df_16_18),
    ratio_plz(oy_df_16_18, ay_df_16_18),
    ratio_plz(ry_df_16_18, ay_df_16_18),
    ratio_plz(not_oy(ay_df_16_18, oy_df_16_18, ry_df_16_18), ay_df_16_18)
]

oy_by_age['16-18 Values'] = [
    sum_plz(ay_df_16_18),
    sum_plz(oy_df_16_18),
    sum_plz(ry_df_16_18),
    not_oy(ay_df_16_18, oy_df_16_18, ry_df_16_18)
]

oy_by_age['19-21 (%)'] = [
    ratio_plz(ay_df_19_21, ay_df_19_21),
    ratio_plz(oy_df_19_21, ay_df_19_21),
    ratio_plz(ry_df_19_21, ay_df_19_21),
    ratio_plz(not_oy(ay_df_19_21, oy_df_19_21, ry_df_19_21), ay_df_19_21)
]

oy_by_age['19-21 Values'] = [
    sum_plz(ay_df_19_21),
    sum_plz(oy_df_19_21),
    sum_plz(ry_df_19_21),
    not_oy(ay_df_19_21, oy_df_19_21, ry_df_19_21)
]

oy_by_age['22-24 (%)'] = [
    ratio_plz(ay_df_22_24, ay_df_22_24),
    ratio_plz(oy_df_22_24, ay_df_22_24),
    ratio_plz(ry_df_22_24, ay_df_22_24),
    ratio_plz(not_oy(ay_df_22_24, oy_df_22_24, ry_df_22_24), ay_df_22_24)
]

oy_by_age['22-24 Values'] = [
    sum_plz(ay_df_22_24),
    sum_plz(oy_df_22_24),
    sum_plz(ry_df_22_24),
    not_oy(ay_df_22_24, oy_df_22_24, ry_df_22_24)
]

oy_by_age['Totals (%)'] = [
    ratio_plz(ay_df, ay_df),
    ratio_plz(oy_df, ay_df),
    ratio_plz(ry_df, ay_df),
    ratio_plz(not_oy(ay_df, oy_df, ry_df), ay_df)
]

oy_by_age['Totals Values'] = [
    sum_plz(ay_df),
    sum_plz(oy_df),
    sum_plz(ry_df),
    not_oy(ay_df, oy_df, ry_df)
]

In [98]:
oy_by_age

,,16-18 (%),16-18 Values,19-21 (%),19-21 Values,22-24 (%),22-24 Values,Totals (%),Totals Values
0,Total Population,100,30141.0,100,25486.0,100,30256.0,100,85883.0
1,Opportunity Youth,6,1815.0,16,4083.0,17,5217.0,13,11115.0
2,Working Without Diploma,1,449.0,5,1377.0,5,1589.0,4,3415.0
3,Not an Opportunity Youth,92,27877.0,79,20026.0,78,23450.0,83,71353.0

In [99]:
##export to cs
oy_by_age.to_csv('oy_by_age.csv')