In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)
    
import psycopg2
import pandas as pd

import numpy as np

In [3]:
DBNAME = "opportunity_youth"

conn = psycopg2.connect(dbname=DBNAME)
cur = conn.cursor()

df = pd.read_sql("SELECT COUNT(*) FROM pums_2017;", conn)
df

    count
0  359075

In [4]:
### pull in ay_df schema data frames from csv files, remove additional index column
ay_df = pd.read_csv('ay_df.csv')
ay_df = ay_df.drop(['Unnamed: 0'], axis=1)

ay_df_16_18 = pd.read_csv('ay_df_16_18.csv')
ay_df_16_18 = ay_df_16_18.drop(['Unnamed: 0'], axis=1)

ay_df_19_21 = pd.read_csv('ay_df_19_21.csv')
ay_df_19_21 = ay_df_19_21.drop(['Unnamed: 0'], axis=1)

ay_df_22_24 = pd.read_csv('ay_df_22_24.csv')
ay_df_22_24 = ay_df_22_24.drop(['Unnamed: 0'], axis=1)

In [5]:
#pull in oy_schema data frames from csv files, remove additional index column
oy_df = pd.read_csv('oy_df.csv')
oy_df = oy_df.drop(['Unnamed: 0'], axis=1)

oy_df_16_18 = pd.read_csv('oy_df_16_18.csv')
oy_df_16_18 = oy_df_16_18.drop(['Unnamed: 0'], axis=1)

oy_df_19_21 = pd.read_csv('oy_df_19_21.csv')
oy_df_19_21 = oy_df_19_21.drop(['Unnamed: 0'], axis=1)

oy_df_22_24 = pd.read_csv('oy_df_22_24.csv')
oy_df_22_24 = oy_df_22_24.drop(['Unnamed: 0'], axis=1)

In [6]:
#pull in ry_schema data frames from csv files, remove additional index column
ry_df = pd.read_csv('ry_df.csv')
ry_df = ry_df.drop(['Unnamed: 0'], axis=1)

ry_df_16_18 = pd.read_csv('ry_df_16_18.csv')
ry_df_16_18 = ry_df_16_18.drop(['Unnamed: 0'], axis=1)

ry_df_19_21 = pd.read_csv('ry_df_19_21.csv')
ry_df_19_21 = ry_df_19_21.drop(['Unnamed: 0'], axis=1)

ry_df_22_24 = pd.read_csv('ry_df_22_24.csv')
ry_df_22_24 = ry_df_22_24.drop(['Unnamed: 0'], axis=1)

In [7]:
def sum_plz(df):
    if type(df) == pd.core.frame.DataFrame:
        return sum(df['pwgtp'])
    else:
        return df

In [8]:
sum_plz(ay_df)

85883.0

In [9]:
def ratio_plz(df1, df2):
    return round(
                (sum_plz(df1) / sum_plz(df2)) * 100
                )

In [10]:
ratio_plz(oy_df, ay_df)

13

In [11]:
type(ay_df) == pd.core.frame.DataFrame

True

In [12]:
def not_oy(dfa, dfo, dfr):
    return int(sum_plz(dfa) - sum_plz(dfo) - sum_plz(dfr))

In [13]:
ratio_plz(not_oy(ay_df_16_18, oy_df_16_18, ry_df_16_18), ay_df_16_18)

92

In [15]:
oy_by_puma = pd.DataFrame()

In [16]:
oy_by_puma['Puma'] = [11610, 11611, 11612, 11613, 11614, 11615]

In [17]:
oy_by_puma['OY Count'] = [
    sum_plz(oy_df[oy_df['puma'] == 11610]),
    sum_plz(oy_df[oy_df['puma'] == 11611]),
    sum_plz(oy_df[oy_df['puma'] == 11612]),
    sum_plz(oy_df[oy_df['puma'] == 11613]),
    sum_plz(oy_df[oy_df['puma'] == 11614]),
    sum_plz(oy_df[oy_df['puma'] == 11615]),
]

In [30]:
oy_by_puma

    Puma  OY Count
0  11610    1870.0
1  11611    2110.0
2  11612    2125.0
3  11613    2133.0
4  11614    1631.0
5  11615    1246.0

In [18]:
oy_by_age = pd.DataFrame()

In [19]:
## creating datafram mimicing 1st table Opportunity Youth Status by Age from previous study
oy_by_age[' '] = [
    'Total Population',
    'Opportunity Youth',
    'Working Without Diploma',
    'Not an Opportunity Youth'
]

oy_by_age['16-18 (%)'] = [
    ratio_plz(ay_df_16_18, ay_df_16_18),
    ratio_plz(oy_df_16_18, ay_df_16_18),
    ratio_plz(ry_df_16_18, ay_df_16_18),
    ratio_plz(not_oy(ay_df_16_18, oy_df_16_18, ry_df_16_18), ay_df_16_18)
]

oy_by_age['16-18 Values'] = [
    sum_plz(ay_df_16_18),
    sum_plz(oy_df_16_18),
    sum_plz(ry_df_16_18),
    not_oy(ay_df_16_18, oy_df_16_18, ry_df_16_18)
]

oy_by_age['19-21 (%)'] = [
    ratio_plz(ay_df_19_21, ay_df_19_21),
    ratio_plz(oy_df_19_21, ay_df_19_21),
    ratio_plz(ry_df_19_21, ay_df_19_21),
    ratio_plz(not_oy(ay_df_19_21, oy_df_19_21, ry_df_19_21), ay_df_19_21)
]

oy_by_age['19-21 Values'] = [
    sum_plz(ay_df_19_21),
    sum_plz(oy_df_19_21),
    sum_plz(ry_df_19_21),
    not_oy(ay_df_19_21, oy_df_19_21, ry_df_19_21)
]

oy_by_age['22-24 (%)'] = [
    ratio_plz(ay_df_22_24, ay_df_22_24),
    ratio_plz(oy_df_22_24, ay_df_22_24),
    ratio_plz(ry_df_22_24, ay_df_22_24),
    ratio_plz(not_oy(ay_df_22_24, oy_df_22_24, ry_df_22_24), ay_df_22_24)
]

oy_by_age['22-24 Values'] = [
    sum_plz(ay_df_22_24),
    sum_plz(oy_df_22_24),
    sum_plz(ry_df_22_24),
    not_oy(ay_df_22_24, oy_df_22_24, ry_df_22_24)
]

oy_by_age['Totals (%)'] = [
    ratio_plz(ay_df, ay_df),
    ratio_plz(oy_df, ay_df),
    ratio_plz(ry_df, ay_df),
    ratio_plz(not_oy(ay_df, oy_df, ry_df), ay_df)
]

oy_by_age['Totals Values'] = [
    sum_plz(ay_df),
    sum_plz(oy_df),
    sum_plz(ry_df),
    not_oy(ay_df, oy_df, ry_df)
]

In [20]:
#test to confirm success of dataframe creation
oy_by_age

,,16-18 (%),16-18 Values,19-21 (%),19-21 Values,22-24 (%),22-24 Values,Totals (%),Totals Values
0,Total Population,100,30141.0,100,25486.0,100,30256.0,100,85883.0
1,Opportunity Youth,6,1815.0,16,4083.0,17,5217.0,13,11115.0
2,Working Without Diploma,1,449.0,5,1377.0,5,1589.0,4,3415.0
3,Not an Opportunity Youth,92,27877.0,79,20026.0,78,23450.0,83,71353.0

In [21]:
##export to csv
# oy_by_age.to_csv('oy_by_age.csv')

In [22]:
def no_dip(df1, df2, df3, df4):
    return int(sum_plz(df1) - sum_plz(df2) - sum_plz(df3) - sum_plz(df4))
def make_hsged_df(df):
    return df[df['schl'].isin([16,17])]
def make_some_df(df):
    return df[df['schl'].isin([18,19])]
def make_degree_df(df):
    return df[df['schl'].isin([20,21,22,23,24])]

In [23]:
###generate df of OY based on education level within each age bracket
oy_df_hsged = make_hsged_df(oy_df)
oy_df_some = make_some_df(oy_df)
oy_df_degree = make_degree_df(oy_df)
oy_df_nodip = no_dip(oy_df, oy_df_hsged, oy_df_some, oy_df_degree)

oy_df_16_18_hsged = make_hsged_df(oy_df_16_18)
oy_df_16_18_some = make_some_df(oy_df_16_18)
oy_df_16_18_degree = make_degree_df(oy_df_16_18)
oy_df_16_18_nodip = no_dip(oy_df_16_18, oy_df_16_18_hsged, oy_df_16_18_some, oy_df_16_18_degree)

oy_df_19_21_hsged = make_hsged_df(oy_df_19_21)
oy_df_19_21_some = make_some_df(oy_df_19_21)
oy_df_19_21_degree = make_degree_df(oy_df_19_21)
oy_df_19_21_nodip = no_dip(oy_df_19_21, oy_df_19_21_hsged, oy_df_19_21_some, oy_df_19_21_degree)

oy_df_22_24_hsged = make_hsged_df(oy_df_22_24)
oy_df_22_24_some = make_some_df(oy_df_22_24)
oy_df_22_24_degree = make_degree_df(oy_df_22_24)
oy_df_22_24_nodip = no_dip(oy_df_22_24, oy_df_22_24_hsged, oy_df_22_24_some, oy_df_22_24_degree)

In [24]:
oy_by_education = pd.DataFrame()

In [25]:
###generate df of OY based on education level, mimicing 2nd table Opportunity Youth Status by Age from previous study
oy_by_education[' '] = [
    'Opportunity Youth',
    'No Diploma',
    'HS or GED',
    'Some College, No Degree',
    'College Degree (associates+)'
]

oy_by_education['16-18 (%)'] = [
    ratio_plz(oy_df_16_18, oy_df_16_18),
    ratio_plz(oy_df_16_18_nodip, oy_df_16_18),
    ratio_plz(oy_df_16_18_hsged, oy_df_16_18),
    ratio_plz(oy_df_16_18_some, oy_df_16_18),
    ratio_plz(oy_df_16_18_degree, oy_df_16_18)
]

oy_by_education['16-18 Values'] = [
    sum_plz(oy_df_16_18),
    sum_plz(oy_df_16_18_nodip),
    sum_plz(oy_df_16_18_hsged),
    sum_plz(oy_df_16_18_some),
    sum_plz(oy_df_16_18_degree)
]

oy_by_education['19-21 (%)'] = [
    ratio_plz(oy_df_19_21, oy_df_19_21),
    ratio_plz(oy_df_19_21_nodip, oy_df_19_21),
    ratio_plz(oy_df_19_21_hsged, oy_df_19_21),
    ratio_plz(oy_df_19_21_some, oy_df_19_21),
    ratio_plz(oy_df_19_21_degree, oy_df_19_21)
]

oy_by_education['19-21 Values'] = [
    sum_plz(oy_df_19_21),
    sum_plz(oy_df_19_21_nodip),
    sum_plz(oy_df_19_21_hsged),
    sum_plz(oy_df_19_21_some),
    sum_plz(oy_df_19_21_degree)
]

oy_by_education['22-24 (%)'] = [
    ratio_plz(oy_df_22_24, oy_df_22_24),
    ratio_plz(oy_df_22_24_nodip, oy_df_22_24),
    ratio_plz(oy_df_22_24_hsged, oy_df_22_24),
    ratio_plz(oy_df_22_24_some, oy_df_22_24),
    ratio_plz(oy_df_22_24_degree, oy_df_22_24)
]

oy_by_education['22-24 Values'] = [
    sum_plz(oy_df_22_24),
    sum_plz(oy_df_22_24_nodip),
    sum_plz(oy_df_22_24_hsged),
    sum_plz(oy_df_22_24_some),
    sum_plz(oy_df_22_24_degree)
]

oy_by_education['Totals (%)'] = [
    ratio_plz(oy_df, oy_df),
    ratio_plz(oy_df_nodip, oy_df),
    ratio_plz(oy_df_hsged, oy_df),
    ratio_plz(oy_df_some, oy_df),
    ratio_plz(oy_df_degree, oy_df)
]

oy_by_education['Totals Values'] = [
    sum_plz(oy_df),
    sum_plz(oy_df_nodip),
    sum_plz(oy_df_hsged),
    sum_plz(oy_df_some),
    sum_plz(oy_df_degree)
]

In [26]:
oy_by_education

,,16-18 (%),16-18 Values,19-21 (%),19-21 Values,22-24 (%),22-24 Values,Totals (%),Totals Values
0,Opportunity Youth,100,1815.0,100,4083.0,100,5217.0,100,11115.0
1,No Diploma,50,916.0,28,1135.0,27,1391.0,31,3442.0
2,HS or GED,43,781.0,53,2183.0,45,2325.0,48,5289.0
3,"Some College, No Degree",7,118.0,16,649.0,21,1074.0,17,1841.0
4,College Degree (associates+),0,0.0,3,116.0,8,427.0,5,543.0

In [27]:
# oy_by_education.to_csv('oy_by_education.csv')

In [34]:
###hard coding values from previous study into dataframe for visualization manipulation
oy_by_education_2016 = pd.DataFrame()
oy_by_education_2016[' '] = [ 
    'Opportunity Youth',
    'No Diploma',
    'HS or GED',
    'Some College, No Degree',
    'College Degree (associates+)'
]

oy_by_education_2016['16-18 (%)'] = [100, 57, 35, 6, 1]
oy_by_education_2016['16-18 Values'] = [2805, 1610, 985, 179, 31]

oy_by_education_2016['19-21 (%)'] = [100, 28, 46, 23, 3]
oy_by_education_2016['19-21 Values'] = [7284, 2048, 3349, 1666, 221]

oy_by_education_2016['22-24 (%)'] = [100, 23, 35, 20, 22]
oy_by_education_2016['22-24 Values'] = [8728, 1981, 3067, 1763, 1917]

oy_by_education_2016['Totals (%)'] = [100, 30, 39, 19, 12]
oy_by_education_2016['Totals Values'] = [18817, 5639, 7401, 3608, 2169]

In [38]:
oy_by_education_2016.to_csv('oy_by_education_2016.csv')

In [37]:
ls

01_erh_download_and_explore_data.ipynb  oy_by_age.csv
02_samt_exploratory.ipynb               oy_by_education.csv
02_samt_v2_exploratory.ipynb            oy_by_education_2016.csv
Kyle_Exploration.ipynb                  oy_df.csv
README.md                               oy_df_16_18.csv
age_data.csv                            oy_df_19_21.csv
ay_df.csv                               oy_df_22_24.csv
ay_df_16_18.csv                         project_outcomes.ipynb
ay_df_19_21.csv                         racial_data.csv
ay_df_22_24.csv                         ry_df.csv
kyle_the_seconding.ipynb                ry_df_16_18.csv
opportunity_youth                       ry_df_19_21.csv
opportunity_youth.sqlite                ry_df_22_24.csv