In [40]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [41]:
import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)
    
import psycopg2
import pandas as pd

import numpy as np

In [42]:
DBNAME = "opportunity_youth"

conn = psycopg2.connect(dbname=DBNAME)
cur = conn.cursor()

df = pd.read_sql("SELECT COUNT(*) FROM pums_2017;", conn)
df

    count
0  359075

In [43]:
### pull in data frames from csv files, remove additional index column
ay_df = pd.read_csv('ay_df.csv')
ay_df = ay_df.drop(['Unnamed: 0'], axis=1)

ay_df_16_18 = pd.read_csv('ay_df_16_18.csv')
ay_df_16_18 = ay_df_16_18.drop(['Unnamed: 0'], axis=1)

ay_df_19_21 = pd.read_csv('ay_df_19_21.csv')
ay_df_19_21 = ay_df_19_21.drop(['Unnamed: 0'], axis=1)

ay_df_22_24 = pd.read_csv('ay_df_22_24.csv')
ay_df_22_24 = ay_df_22_24.drop(['Unnamed: 0'], axis=1)

oy_df = pd.read_csv('oy_df.csv')
oy_df = oy_df.drop(['Unnamed: 0'], axis=1)

oy_df_16_18 = pd.read_csv('oy_df_16_18.csv')
oy_df_16_18 = oy_df_16_18.drop(['Unnamed: 0'], axis=1)

oy_df_19_21 = pd.read_csv('oy_df_19_21.csv')
oy_df_19_21 = oy_df_19_21.drop(['Unnamed: 0'], axis=1)

oy_df_22_24 = pd.read_csv('oy_df_22_24.csv')
oy_df_22_24 = oy_df_22_24.drop(['Unnamed: 0'], axis=1)

## For Wed -- tertiary DF creation (employed_wo_diploma)

account for Working people without diplomas

pull from 'ay' sub age groups & condition for Working=Yes, and SCHL = (15, 16, 17, 18, 19, 20, 21, 22, 23, 24)

be sure to subtract this new DF from the dfa sum in the 'not_oy' function (otherwise these people will be counted twice in the total)

In [49]:
def sum_plz(df):
    return sum(df['pwgtp'])

[1815.0, 4083.0, 5217.0]

In [50]:
def ratio_plz(df1, df2, df3):
    return round((sum_plz(df1) / sum_plz(df2)) * 100)

In [51]:
def not_oy(dfa, dfo):
    return sum_plz(dfa) - sum_plz(dfo)